@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Add your other global styles below */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-gray;
}

/* wrap text */
.bootstrap-select .dropdown-menu .dropdown-item {
  white-space: normal;
}

.unscrollable {
  overflow: hidden;
}

td,
th {
  border-right: none;
  border-left: none;
}

td {
  padding-left: 0.75rem !important;
}

::placeholder {
  color: silver !important;
}
